<section class="welcomeContainer m-60">
    <div class="imgDog-container">
        <img 
            #image_dog
            src="../assets/photos/dog_heroImage.png" 
            alt="dog_heroImage"
            class="main_Dog">
            <svg 
            class="svgSemiCircle" 
            x="0px" y="0px"
            viewBox="0 0 865.4 432.7"
            xml:space="preserve">
                <path 
                class="stoSemiCircle" 
                d="M0,432.7C0,193.7,193.7,0,432.7,0s432.7,193.7,432.7,432.7"/>
            </svg>
    </div>
    <div class="txtHero-Container">
        <div>
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <button 
                class="ligthButton">
                ¡Deseo empezar ahora!
            </button>
        </div>
    </div>
</section>