header{
    z-index: 2;
    width: 100vw;
    display: flex;
    position: fixed;
    padding: 0px 20px;
    align-items: center;
    box-sizing: border-box;
    height: var(--heigth-header);
    background-color: var(--D-Purple);
}

.hambutton{
    display: none;
}

.st0, .st1{
    fill: white;
    stroke: white;
}

.logo:focus-visible{
    outline: none;
    border: 1px solid var(--A-Purple);
}

.input-container input:focus-visible{
    outline: none;
    border: 2px solid var(--A-Purple);
}

.st0-line{
    stroke: white;
    stroke-width: 3px;
}

.hambutton{
    background: transparent;
    border: 1px solid transparent;
}

.hambutton:focus-visible{
    outline: none;
}

.hambutton:focus-visible .st0-line{
    stroke: var(--A-Purple);
}

@media only screen and (max-width:450px) {
    
    .collapse-input{
        display: none;
    }

    .logo{
        margin-left: auto;
    }

    .hambutton{
        display: block;
    }
}