<div class="ml-auto input-container">
    <input
        #searchingInput 
        (focus)="renderInfo($event)"
        (keyup)="renderInfo($event)"
        type="text"
        placeholder="¿Desea buscar por raza?">
    <div
        class="breed-information">
        <ng-container
            *ngIf="getList">
            <a
                class="link-search"
                *ngFor="let i of getList"
                [routerLink]="['/images', i]">
                    <span>{{ i | titlecase}}</span>
            </a>
        </ng-container>
        <span
            class="notBreedFound"
            *ngIf="!getList">
            ¡No se encontro lo que esta buscando! :c
        </span>
    </div>
</div>