<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="image-hero">
    <div class="container-img">
        <img src="../../../assets/img/dog_home_tiny.png" alt="">
    </div>
    <div class="container-title">
        <h1>
            ¡¡¡Mira a tus mejores amigos!!!
        </h1>
        <a 
            class="ligth-button">
            ¡Deseo Empezar ahora!
        </a>
        <h2
            class="subtTitle-hero">
            Sin necesidad de registros
        </h2>
    </div>
</section>