*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --A-Purple: #4C1A77;
    --B-Purple: #622399;
    --C-Purple: #6F28AC;
    --D-Purple: #7B2CBF;
    --E-Purple: #8841C5;
    --F-Purple: #9556CC;
    --G-Purple: #A36BD2;

    --A-Black: #151414;
    --B-Black: #181616;
    --C-Black: #1B1919;
    --D-Black: #1E1C1C;
    --E-Black: #353333;
    --F-Black: #4B4949;
    --G-Black: #626060;

    --heigth-header: 75px;
    
}

.ml-auto{
    margin-left: auto;
}

.d-block{
    display: block;
}

.d-none{ 
    display: none;
}