<footer>
    <div 
        class="footer-links">
        <a 
            href="https://github.com/Alexander10531">
                <fa-icon [icon]="faGithub"></fa-icon>
        </a>
        <a 
            href="">
                <fa-icon [icon]="faBehance"></fa-icon>
        </a>
        <a 
            href="">
                <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a 
            href="https://dribbble.com/Al3x1005">
                <fa-icon [icon]="faDribbble"></fa-icon>
        </a>
    </div>
    <div 
        class="footer-text">
        <span>Alexander Tejeda - 2021</span>
    </div>
</footer>