<footer>
    <div>
        <ul class="list-logos">
            <li>
                <a href="">
                    <fa-icon [icon]="faLinkedinIn">
                    </fa-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <fa-icon [icon]="faDribbble">
                    </fa-icon>
                </a>
            </li>
            <li>
                <a href="">
                    <fa-icon [icon]="faGithub">
                    </fa-icon>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <span>Alexander Tejeda - 2021</span>
    </div>
</footer>